<h1><%= @bar.name %></h1>

<h2><%= @bar.city %></h2>
<hr>
<h3> Beer Menu: </h3>
<ul>
    <% @bar.beer_list.each do |beer| %>
    <li> <%= link_to beer.name, beer_path(beer) %>
    <% end %>

    #beer